*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.video-wrapper {
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
    video, img {
        object-fit: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
}

.sp-hide {
    display: none;
}
.pc-hide {
    display: block;
}
@media screen and (min-width:992px){
    .sp-hide {
        display: block;
    }
    .pc-hide {
        display: none;
    }
}


.chat_box{
    height: 100%;
    background-color: #f1f1f1;
    position: relative;
}
.chat_box .chat_message{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
}
.emoji_icon{
  width: 30px;
  margin: 10px;
}
.emoji_icon img{
  width: 100%;
}
.emoji_icon:hover{
  background-color: #888888;
}

/* チャネル詳細 */
.me_block{
    padding: 20px 10px;
    height: 100%;
}
.me_block .myHeadPhoto{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}
.me_block .myHeadPhoto img{
    width: 100%;
}
.me_block .myName{
    width: 100%;
    font-size: 24px;
    color: #222222;
    text-align: center;
    margin-top: 15px;

}
.me_block .myTitle{
    width: 100%;
    font-size: 16px;
    color: #777777;
    text-align: center;
    margin-top: 5px;
}
.me_block .myVideo{
    width: 100%;
    text-align: center;
    margin-top: 5px;
}
.me_block .myVideo a {
    color: #777777;
}
.me_block .myVideo svg {
    font-size: 2.5em;
}


.message_row{
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
}
.message-text{
    padding: 9px 14px;
    font-size: 16px;
    margin-bottom: 5px;
}
.message-time{
    font-size: 12px;
    color: #777;
}
.other-message .message-time{
    width: 66px;
    margin-left: 65px;
}
.you-message{
    justify-content: end;
}
.you-message .message-content{
    justify-items: end;
}
.you-message .message-text{
    color: rgb(73, 73, 73);
    background-color: rgb(92, 238, 92);
    border: 1px solid rgb(92, 238, 92);
    border-radius: 14px 14px 0 14px;
}
.other-message{
    justify-items: start;
}
.other-message .message-content{
    grid-template-columns: 48px 1fr;
    grid-column-gap: 15px;
}
.other-message .message-text{
    color: #111;
    background-color: #eee;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}
.message-content{
    display: grid;
}
.head{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.ejIcon{
    width: 150px;
    height: auto;
}
.me_photo{
    width: 100%;
}
.me_photo img{
    width: 100%;
}

.area{
    background: #eee;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height: 91.5vh;
}
@media screen and (min-width:992px){
  .area {
    height: 93vh;
  }
}

