
.sp-hide {
    display: none;
    height: 100%;
}
.pc-hide {
    display: block;
    height: 100%;
}
@media screen and (min-width:992px){
    .sp-hide {
        display: block;
    }
    .pc-hide {
        display: none;
    }
}
